In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scienceplots
plt.style.use(["science","nature"])

In [2]:
data=pd.read_csv("omni2_daily_rnyYpVi15U.lst.txt",delimiter="\s+",names=["YEAR","DOY","Hour","Scalar B, nT","SW Plasma Temperature, K",
                                                                         "SW Proton Density, N/cm^3","SW Plasma Speed, km/s","Alpha/Prot. ratio",
                                                                         "Flow pressure","Kp index","R (Sunspot No.)","Dst-index, nT","f10.7_index"])

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_60843/790978008.py:1: SyntaxWarning: invalid escape sequence '\s'
  data=pd.read_csv("omni2_daily_rnyYpVi15U.lst.txt",delimiter="\s+",names=["YEAR","DOY","Hour","Scalar B, nT","SW Plasma Temperature, K",

In [3]:
data.index=pd.to_datetime(pd.date_range("1964-10-01","2025-05-01"))
data=data.drop(columns=["YEAR","DOY","Hour"])

In [4]:
data

,"Scalar B, nT","SW Plasma Temperature, K","SW Proton Density, N/cm^3","SW Plasma Speed, km/s",Alpha/Prot. ratio,Flow pressure,Kp index,R (Sunspot No.),"Dst-index, nT",f10.7_index
1964-10-01,999.9,9999999.0,999.9,447.0,9.999,99.99,20,25,-11,72.0
1964-10-02,999.9,9999999.0,999.9,405.0,9.999,99.99,10,18,-6,71.6
1964-10-03,999.9,9999999.0,999.9,390.0,9.999,99.99,20,0,-1,71.8
1964-10-04,999.9,9999999.0,999.9,722.0,9.999,99.99,40,0,-7,70.8
1964-10-05,999.9,9999999.0,999.9,711.0,9.999,99.99,33,0,-12,71.6
...,...,...,...,...,...,...,...,...,...,...
2025-04-27,8.2,71876.0,6.9,397.0,9.999,2.20,17,132,10,157.8
2025-04-28,6.7,51345.0,5.3,386.0,9.999,1.60,7,121,14,155.7
2025-04-29,7.7,82562.0,8.0,397.0,9.999,2.57,13,110,19,151.3
2025-04-30,7.3,72454.0,10.8,427.0,9.999,3.95,23,88,8,150.2
2025-05-01,9.4,111312.0,11.5,443.0,9.999,4.48,40,999,-17,154.7

In [5]:
fillna,var=[],[]
for i in data.columns:
    print(i,data[i].max())
    fillna.append(data[i].max())
    var.append(i)
varis=pd.DataFrame({"Var":var,"Fill":fillna})
varis

Scalar B, nT 999.9
SW Plasma Temperature, K 9999999.0
SW Proton Density, N/cm^3 999.9
SW Plasma Speed, km/s 9999.0
Alpha/Prot. ratio 9.999
Flow pressure 99.99
Kp index 83
R (Sunspot No.) 999
Dst-index, nT 43
f10.7_index 999.9

                         Var         Fill
0               Scalar B, nT      999.900
1   SW Plasma Temperature, K  9999999.000
2  SW Proton Density, N/cm^3      999.900
3      SW Plasma Speed, km/s     9999.000
4          Alpha/Prot. ratio        9.999
5              Flow pressure       99.990
6                   Kp index       83.000
7            R (Sunspot No.)      999.000
8              Dst-index, nT       43.000
9                f10.7_index      999.900

In [6]:
varis=varis[(varis.Var!="Kp index")]
varis=varis[(varis.Var!="Dst-index, nT")]
varis

                         Var         Fill
0               Scalar B, nT      999.900
1   SW Plasma Temperature, K  9999999.000
2  SW Proton Density, N/cm^3      999.900
3      SW Plasma Speed, km/s     9999.000
4          Alpha/Prot. ratio        9.999
5              Flow pressure       99.990
7            R (Sunspot No.)      999.000
9                f10.7_index      999.900

In [7]:
for i in varis["Var"]:
    data[data==varis[varis["Var"]==i]["Fill"].max()]=np.nan

In [8]:
data

,"Scalar B, nT","SW Plasma Temperature, K","SW Proton Density, N/cm^3","SW Plasma Speed, km/s",Alpha/Prot. ratio,Flow pressure,Kp index,R (Sunspot No.),"Dst-index, nT",f10.7_index
1964-10-01,NaN,NaN,NaN,447.0,NaN,NaN,20,25.0,-11,72.0
1964-10-02,NaN,NaN,NaN,405.0,NaN,NaN,10,18.0,-6,71.6
1964-10-03,NaN,NaN,NaN,390.0,NaN,NaN,20,0.0,-1,71.8
1964-10-04,NaN,NaN,NaN,722.0,NaN,NaN,40,0.0,-7,70.8
1964-10-05,NaN,NaN,NaN,711.0,NaN,NaN,33,0.0,-12,71.6
...,...,...,...,...,...,...,...,...,...,...
2025-04-27,8.2,71876.0,6.9,397.0,NaN,2.20,17,132.0,10,157.8
2025-04-28,6.7,51345.0,5.3,386.0,NaN,1.60,7,121.0,14,155.7
2025-04-29,7.7,82562.0,8.0,397.0,NaN,2.57,13,110.0,19,151.3
2025-04-30,7.3,72454.0,10.8,427.0,NaN,3.95,23,88.0,8,150.2
2025-05-01,9.4,111312.0,11.5,443.0,NaN,4.48,40,NaN,-17,154.7

In [9]:
data.isnull().sum()/len(data)*100

Scalar B, nT                 10.968004
SW Plasma Temperature, K     16.142444
SW Proton Density, N/cm^3    13.959689
SW Plasma Speed, km/s        10.909255
Alpha/Prot. ratio            27.919378
Flow pressure                14.041034
Kp index                      0.000000
R (Sunspot No.)               0.004519
Dst-index, nT                 0.000000
f10.7_index                   0.076826
dtype: float64

In [10]:
cycles=["20u","20d","21u","21d","22u","22d","23u","23d","24u","24d","25u"]
cuts=["1964-10-01","1968-03-01","1976-03-01","1979-12-11","1986-10-01","1989-11-01","1996-08-01","2001-11-01","2008-12-01","2014-04-01","2019-12-01","2024-10-01"]

In [11]:
len(cycles), len(cuts)

(11, 12)

In [12]:
c20up=data[(data.index>=cuts[0])&(data.index<=cuts[1])]
c20down=data[(data.index>=cuts[1])&(data.index<=cuts[2])]

c21up=data[(data.index>=cuts[2])&(data.index<=cuts[3])]
c21down=data[(data.index>=cuts[3])&(data.index<=cuts[4])]

c22up=data[(data.index>=cuts[4])&(data.index<=cuts[5])]
c22down=data[(data.index>=cuts[5])&(data.index<=cuts[6])]

c23up=data[(data.index>=cuts[6])&(data.index<=cuts[7])]
c23down=data[(data.index>=cuts[7])&(data.index<=cuts[8])]

c24up=data[(data.index>=cuts[8])&(data.index<=cuts[9])]
c24down=data[(data.index>=cuts[9])&(data.index<=cuts[10])]

c25up=data[(data.index>=cuts[10])&(data.index<=cuts[11])]

In [13]:
c25up

,"Scalar B, nT","SW Plasma Temperature, K","SW Proton Density, N/cm^3","SW Plasma Speed, km/s",Alpha/Prot. ratio,Flow pressure,Kp index,R (Sunspot No.),"Dst-index, nT",f10.7_index
2019-12-01,3.9,43512.0,9.6,361.0,0.013,2.23,7,0.0,-5,69.2
2019-12-02,3.0,20822.0,9.1,334.0,0.009,1.78,3,0.0,-3,68.4
2019-12-03,2.2,15066.0,9.3,311.0,0.009,1.56,3,0.0,-3,67.9
2019-12-04,3.1,21694.0,15.1,309.0,0.006,2.49,7,0.0,1,67.6
2019-12-05,3.0,26405.0,11.4,324.0,0.007,2.06,3,0.0,1,68.6
...,...,...,...,...,...,...,...,...,...,...
2024-09-27,5.5,43700.0,6.6,341.0,0.042,1.47,13,154.0,-22,186.7
2024-09-28,5.9,45245.0,8.4,312.0,0.041,1.62,13,154.0,-10,195.2
2024-09-29,9.2,138847.0,12.1,364.0,0.067,3.14,30,149.0,-8,197.8
2024-09-30,8.3,147140.0,3.6,443.0,0.048,1.43,20,169.0,-12,214.7
2024-10-01,6.2,93912.0,3.4,417.0,0.055,1.21,13,212.0,2,245.1

In [14]:
alldatas=[c20up,c20down,c21up,c21down,c22up,c22down,c23up,c23down,c24up,c24down,c25up]

In [15]:
c20up.isnull().sum()/len(c20up)*100

Scalar B, nT                  38.141026
SW Plasma Temperature, K      35.336538
SW Proton Density, N/cm^3     35.336538
SW Plasma Speed, km/s         16.987179
Alpha/Prot. ratio            100.000000
Flow pressure                 35.336538
Kp index                       0.000000
R (Sunspot No.)                0.000000
Dst-index, nT                  0.000000
f10.7_index                    0.240385
dtype: float64

In [16]:
c20down.isnull().sum()/len(c20down)*100

Scalar B, nT                  7.800205
SW Plasma Temperature, K     35.135135
SW Proton Density, N/cm^3    31.577147
SW Plasma Speed, km/s        18.611016
Alpha/Prot. ratio            53.027711
Flow pressure                31.577147
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.034211
dtype: float64

In [17]:
c21up.isnull().sum()/len(c21up)*100

Scalar B, nT                 19.551050
SW Plasma Temperature, K      5.430847
SW Proton Density, N/cm^3     5.430847
SW Plasma Speed, km/s         4.417089
Alpha/Prot. ratio            33.960898
Flow pressure                 5.430847
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.000000
dtype: float64

In [18]:
c21down.isnull().sum()/len(c21down)*100

Scalar B, nT                 17.571371
SW Plasma Temperature, K     38.962606
SW Proton Density, N/cm^3    23.602734
SW Plasma Speed, km/s        23.602734
Alpha/Prot. ratio            50.824286
Flow pressure                23.602734
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.040209
dtype: float64

In [19]:
c22up.isnull().sum()/len(c22up)*100

Scalar B, nT                 31.914894
SW Plasma Temperature, K     32.712766
SW Proton Density, N/cm^3    32.712766
SW Plasma Speed, km/s        32.712766
Alpha/Prot. ratio            35.283688
Flow pressure                32.712766
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.000000
dtype: float64

In [20]:
c22down.isnull().sum()/len(c22down)*100

Scalar B, nT                 24.939173
SW Plasma Temperature, K     25.871857
SW Proton Density, N/cm^3    25.871857
SW Plasma Speed, km/s        25.871857
Alpha/Prot. ratio            29.643147
Flow pressure                25.871857
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.040552
dtype: float64

In [21]:
c23up.isnull().sum()/len(c23up)*100

Scalar B, nT                 0.052110
SW Plasma Temperature, K     1.615425
SW Proton Density, N/cm^3    1.615425
SW Plasma Speed, km/s        0.052110
Alpha/Prot. ratio            6.930693
Flow pressure                1.615425
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.000000
dtype: float64

In [22]:
c23down.isnull().sum()/len(c23down)*100

Scalar B, nT                 0.000000
SW Plasma Temperature, K     0.850077
SW Proton Density, N/cm^3    0.850077
SW Plasma Speed, km/s        0.077280
Alpha/Prot. ratio            8.693972
Flow pressure                0.850077
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.231839
dtype: float64

In [23]:
c24up.isnull().sum()/len(c24up)*100

Scalar B, nT                 0.000000
SW Plasma Temperature, K     0.000000
SW Proton Density, N/cm^3    0.000000
SW Plasma Speed, km/s        0.000000
Alpha/Prot. ratio            2.053388
Flow pressure                0.000000
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.154004
dtype: float64

In [24]:
c24down.isnull().sum()/len(c24down)*100

Scalar B, nT                 0.000000
SW Plasma Temperature, K     0.000000
SW Proton Density, N/cm^3    0.144858
SW Plasma Speed, km/s        0.000000
Alpha/Prot. ratio            3.573153
Flow pressure                0.144858
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.048286
dtype: float64

In [25]:
c25up.isnull().sum()/len(c25up)*100

Scalar B, nT                 2.263724
SW Plasma Temperature, K     0.000000
SW Proton Density, N/cm^3    0.000000
SW Plasma Speed, km/s        0.000000
Alpha/Prot. ratio            0.735710
Flow pressure                1.018676
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.056593
dtype: float64

## Inputation process...

In [26]:
#Regressors:
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor, ExtraTreesRegressor, GradientBoostingRegressor, HistGradientBoostingRegressor, RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import BayesianRidge, GammaRegressor, HuberRegressor, PoissonRegressor, Ridge, TheilSenRegressor, TweedieRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [27]:
def inpute(data):
    imp_ET = IterativeImputer(estimator=ExtraTreesRegressor(),verbose=1,add_indicator=False,keep_empty_features=True)
    imp_ET.fit(data)
    df_imp_ET=pd.DataFrame(imp_ET.transform(data),columns=data.columns,index=data.index)
    return df_imp_ET

In [28]:
c20up

,"Scalar B, nT","SW Plasma Temperature, K","SW Proton Density, N/cm^3","SW Plasma Speed, km/s",Alpha/Prot. ratio,Flow pressure,Kp index,R (Sunspot No.),"Dst-index, nT",f10.7_index
1964-10-01,NaN,NaN,NaN,447.0,NaN,NaN,20,25.0,-11,72.0
1964-10-02,NaN,NaN,NaN,405.0,NaN,NaN,10,18.0,-6,71.6
1964-10-03,NaN,NaN,NaN,390.0,NaN,NaN,20,0.0,-1,71.8
1964-10-04,NaN,NaN,NaN,722.0,NaN,NaN,40,0.0,-7,70.8
1964-10-05,NaN,NaN,NaN,711.0,NaN,NaN,33,0.0,-12,71.6
...,...,...,...,...,...,...,...,...,...,...
1968-02-26,4.6,42766.0,6.9,329.0,NaN,1.46,10,212.0,-4,183.9
1968-02-27,4.6,65103.0,17.3,302.0,NaN,3.18,17,178.0,-4,175.7
1968-02-28,13.7,79849.0,22.2,336.0,NaN,5.04,40,176.0,-36,170.7
1968-02-29,8.2,131597.0,4.6,431.0,NaN,1.55,30,170.0,-52,167.4
1968-03-01,5.9,68521.0,2.6,453.0,NaN,1.06,20,153.0,-35,162.8

In [29]:
c20up_inp=inpute(c20up)
c20down_inp=inpute(c20down)
c21up_inp=inpute(c21up)
c21down_inp=inpute(c21down)
c22up_inp=inpute(c22up)
c22down_inp=inpute(c22down)
c23up_inp=inpute(c23up)
c23down_inp=inpute(c23down)
c24up_inp=inpute(c24up)
c24down_inp=inpute(c24down)
c25up_inp=inpute(c25up)

[IterativeImputer] Completing matrix with shape (1248, 10)
[IterativeImputer] Change: 139861.6260572086, scaled tolerance: 408.382
[IterativeImputer] Change: 44705.636499999986, scaled tolerance: 408.382
[IterativeImputer] Change: 25938.805599999992, scaled tolerance: 408.382
[IterativeImputer] Change: 28740.2001, scaled tolerance: 408.382
[IterativeImputer] Change: 37485.56980000002, scaled tolerance: 408.382
[IterativeImputer] Change: 21099.954599999975, scaled tolerance: 408.382
[IterativeImputer] Change: 19281.572399999972, scaled tolerance: 408.382
[IterativeImputer] Change: 27173.176099999997, scaled tolerance: 408.382
[IterativeImputer] Change: 22942.244, scaled tolerance: 408.382
[IterativeImputer] Change: 20928.9595, scaled tolerance: 408.382
[IterativeImputer] Completing matrix with shape (1248, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (2923, 10)
[IterativeImputer] Change: 364178.6783721258, scaled tolerance: 798.873
[IterativeImputer] Change: 120957.70466999998, scaled tolerance: 798.873
[IterativeImputer] Change: 62483.24711000004, scaled tolerance: 798.873
[IterativeImputer] Change: 82712.81927, scaled tolerance: 798.873
[IterativeImputer] Change: 54279.68205999998, scaled tolerance: 798.873
[IterativeImputer] Change: 108663.81806999996, scaled tolerance: 798.873
[IterativeImputer] Change: 46120.610049999996, scaled tolerance: 798.873
[IterativeImputer] Change: 47914.818130000014, scaled tolerance: 798.873
[IterativeImputer] Change: 62440.13935999991, scaled tolerance: 798.873
[IterativeImputer] Change: 56164.62573, scaled tolerance: 798.873
[IterativeImputer] Completing matrix with shape (2923, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (1381, 10)
[IterativeImputer] Change: 89954.16011640862, scaled tolerance: 985.748
[IterativeImputer] Change: 38387.761399999996, scaled tolerance: 985.748
[IterativeImputer] Change: 34838.5328, scaled tolerance: 985.748
[IterativeImputer] Change: 39582.723399999995, scaled tolerance: 985.748
[IterativeImputer] Change: 26987.91203000001, scaled tolerance: 985.748
[IterativeImputer] Change: 22428.22881, scaled tolerance: 985.748
[IterativeImputer] Change: 18494.265800000005, scaled tolerance: 985.748
[IterativeImputer] Change: 22258.490800000007, scaled tolerance: 985.748
[IterativeImputer] Change: 35549.646900000014, scaled tolerance: 985.748
[IterativeImputer] Change: 26339.70079999999, scaled tolerance: 985.748
[IterativeImputer] Completing matrix with shape (1381, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (2487, 10)
[IterativeImputer] Change: 181840.40621454443, scaled tolerance: 501.083
[IterativeImputer] Change: 37563.57533, scaled tolerance: 501.083
[IterativeImputer] Change: 40302.01934, scaled tolerance: 501.083
[IterativeImputer] Change: 39675.875819999994, scaled tolerance: 501.083
[IterativeImputer] Change: 33041.99355999999, scaled tolerance: 501.083
[IterativeImputer] Change: 34007.462610000024, scaled tolerance: 501.083
[IterativeImputer] Change: 34754.27717999999, scaled tolerance: 501.083
[IterativeImputer] Change: 31289.27021999999, scaled tolerance: 501.083
[IterativeImputer] Change: 44897.04435000001, scaled tolerance: 501.083
[IterativeImputer] Change: 45038.0543, scaled tolerance: 501.083
[IterativeImputer] Completing matrix with shape (2487, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (1128, 10)
[IterativeImputer] Change: 54368.26693314394, scaled tolerance: 911.684
[IterativeImputer] Change: 314551.29148, scaled tolerance: 911.684
[IterativeImputer] Change: 101406.32720000003, scaled tolerance: 911.684
[IterativeImputer] Change: 73982.41497000003, scaled tolerance: 911.684
[IterativeImputer] Change: 36316.606900000035, scaled tolerance: 911.684
[IterativeImputer] Change: 103946.84511999995, scaled tolerance: 911.684
[IterativeImputer] Change: 80630.57191999997, scaled tolerance: 911.684
[IterativeImputer] Change: 39719.3248, scaled tolerance: 911.684
[IterativeImputer] Change: 72458.77306000002, scaled tolerance: 911.684
[IterativeImputer] Change: 50063.14134000001, scaled tolerance: 911.684
[IterativeImputer] Completing matrix with shape (1128, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (2466, 10)
[IterativeImputer] Change: 147582.1432117369, scaled tolerance: 2663.92
[IterativeImputer] Change: 150483.05563, scaled tolerance: 2663.92
[IterativeImputer] Change: 69471.49827000003, scaled tolerance: 2663.92
[IterativeImputer] Change: 103502.44140999996, scaled tolerance: 2663.92
[IterativeImputer] Change: 124533.43935999999, scaled tolerance: 2663.92
[IterativeImputer] Change: 331028.8614800001, scaled tolerance: 2663.92
[IterativeImputer] Change: 58332.943329999995, scaled tolerance: 2663.92
[IterativeImputer] Change: 200860.19250000003, scaled tolerance: 2663.92
[IterativeImputer] Change: 98439.14783000003, scaled tolerance: 2663.92
[IterativeImputer] Change: 248477.18786000003, scaled tolerance: 2663.92
[IterativeImputer] Completing matrix with shape (2466, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (1919, 10)
[IterativeImputer] Change: 61314.779046398304, scaled tolerance: 670.232
[IterativeImputer] Change: 9401.759600000001, scaled tolerance: 670.232
[IterativeImputer] Change: 10690.096800000003, scaled tolerance: 670.232
[IterativeImputer] Change: 6554.474700000002, scaled tolerance: 670.232
[IterativeImputer] Change: 11755.697799999994, scaled tolerance: 670.232
[IterativeImputer] Change: 6118.844999999998, scaled tolerance: 670.232
[IterativeImputer] Change: 7676.968500000001, scaled tolerance: 670.232
[IterativeImputer] Change: 8545.436800000001, scaled tolerance: 670.232
[IterativeImputer] Change: 7694.016700000001, scaled tolerance: 670.232
[IterativeImputer] Change: 6443.820840000006, scaled tolerance: 670.232
[IterativeImputer] Completing matrix with shape (1919, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (2588, 10)
[IterativeImputer] Change: 88778.6973686672, scaled tolerance: 1488.626
[IterativeImputer] Change: 87594.58486, scaled tolerance: 1488.626
[IterativeImputer] Change: 72734.462, scaled tolerance: 1488.626
[IterativeImputer] Change: 81949.14921, scaled tolerance: 1488.626
[IterativeImputer] Change: 95940.8124, scaled tolerance: 1488.626
[IterativeImputer] Change: 16973.92290999999, scaled tolerance: 1488.626
[IterativeImputer] Change: 28859.07562999999, scaled tolerance: 1488.626
[IterativeImputer] Change: 80754.35053, scaled tolerance: 1488.626
[IterativeImputer] Change: 53755.3026, scaled tolerance: 1488.626
[IterativeImputer] Change: 36714.72763000001, scaled tolerance: 1488.626
[IterativeImputer] Completing matrix with shape (2588, 10)

/home/neno/.local/lib/python3.13/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

[IterativeImputer] Completing matrix with shape (1948, 10)
[IterativeImputer] Change: 33.26438303341902, scaled tolerance: 748.451
[IterativeImputer] Early stopping criterion reached.
[IterativeImputer] Completing matrix with shape (1948, 10)
[IterativeImputer] Completing matrix with shape (2071, 10)
[IterativeImputer] Change: 38.601072463768105, scaled tolerance: 757.64
[IterativeImputer] Early stopping criterion reached.
[IterativeImputer] Completing matrix with shape (2071, 10)
[IterativeImputer] Completing matrix with shape (1767, 10)
[IterativeImputer] Change: 43.40983805209508, scaled tolerance: 1136.799
[IterativeImputer] Early stopping criterion reached.
[IterativeImputer] Completing matrix with shape (1767, 10)

In [30]:
c21up

,"Scalar B, nT","SW Plasma Temperature, K","SW Proton Density, N/cm^3","SW Plasma Speed, km/s",Alpha/Prot. ratio,Flow pressure,Kp index,R (Sunspot No.),"Dst-index, nT",f10.7_index
1976-03-01,5.2,186873.0,4.1,576.0,0.036,2.66,33,0.0,-21,67.7
1976-03-02,NaN,215624.0,4.0,615.0,0.042,2.88,43,0.0,-21,68.1
1976-03-03,NaN,208601.0,3.0,628.0,0.050,2.34,40,0.0,-27,67.4
1976-03-04,NaN,NaN,NaN,NaN,NaN,NaN,27,0.0,-19,67.4
1976-03-05,NaN,NaN,NaN,NaN,NaN,NaN,27,0.0,-14,67.6
...,...,...,...,...,...,...,...,...,...,...
1979-12-07,4.8,30839.0,10.7,309.0,NaN,2.09,10,300.0,8,222.6
1979-12-08,8.7,124013.0,14.1,397.0,NaN,3.81,23,371.0,11,228.9
1979-12-09,5.5,110114.0,3.9,438.0,NaN,1.51,20,396.0,0,232.4
1979-12-10,5.3,78114.0,5.3,386.0,NaN,1.57,13,368.0,5,230.3
1979-12-11,5.4,59051.0,5.7,355.0,NaN,1.44,13,343.0,7,230.6

In [31]:
c21up_inp

,"Scalar B, nT","SW Plasma Temperature, K","SW Proton Density, N/cm^3","SW Plasma Speed, km/s",Alpha/Prot. ratio,Flow pressure,Kp index,R (Sunspot No.),"Dst-index, nT",f10.7_index
1976-03-01,5.200,186873.00,4.100,576.00,0.03600,2.6600,33.0,0.0,-21.0,67.7
1976-03-02,5.785,215624.00,4.000,615.00,0.04200,2.8800,43.0,0.0,-21.0,68.1
1976-03-03,4.911,208601.00,3.000,628.00,0.05000,2.3400,40.0,0.0,-27.0,67.4
1976-03-04,6.258,116568.13,7.988,438.41,0.03869,2.9476,27.0,0.0,-19.0,67.4
1976-03-05,6.410,120259.60,7.761,438.19,0.03702,2.8838,27.0,0.0,-14.0,67.6
...,...,...,...,...,...,...,...,...,...,...
1979-12-07,4.800,30839.00,10.700,309.00,0.03204,2.0900,10.0,300.0,8.0,222.6
1979-12-08,8.700,124013.00,14.100,397.00,0.08726,3.8100,23.0,371.0,11.0,228.9
1979-12-09,5.500,110114.00,3.900,438.00,0.06460,1.5100,20.0,396.0,0.0,232.4
1979-12-10,5.300,78114.00,5.300,386.00,0.06288,1.5700,13.0,368.0,5.0,230.3
1979-12-11,5.400,59051.00,5.700,355.00,0.05628,1.4400,13.0,343.0,7.0,230.6

In [32]:
alldatas_inp=[c20up_inp,c20down_inp,c21up_inp,c21down_inp,c22up_inp,c22down_inp,c23up_inp,c23down_inp,c24up_inp,c24down_inp,c25up_inp]

In [33]:
for i in range(len(alldatas)):
    alldatas[i].to_csv("datas/"+cycles[i]+".csv",index=True)
    alldatas_inp[i].to_csv("datas/"+cycles[i]+"_inp.csv",index=True)

In [34]:
for i,j in zip([c20up,c20down,c21up,c21down,c22up,c22down,c23up,c23down,c24up,c24down,c25up],
               ["c20up","c20down","c21up","c21down","c22up","c22down","c23up","c23down","c24up","c24down","c25up"]):
    print("For cycle {} ({} total data instances)".format(j,len(i)),i.isnull().sum()/len(i)*100)

For cycle c20up (1248 total data instances) Scalar B, nT                  38.141026
SW Plasma Temperature, K      35.336538
SW Proton Density, N/cm^3     35.336538
SW Plasma Speed, km/s         16.987179
Alpha/Prot. ratio            100.000000
Flow pressure                 35.336538
Kp index                       0.000000
R (Sunspot No.)                0.000000
Dst-index, nT                  0.000000
f10.7_index                    0.240385
dtype: float64
For cycle c20down (2923 total data instances) Scalar B, nT                  7.800205
SW Plasma Temperature, K     35.135135
SW Proton Density, N/cm^3    31.577147
SW Plasma Speed, km/s        18.611016
Alpha/Prot. ratio            53.027711
Flow pressure                31.577147
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.034211
dtype: float64
For cycle c21up (1381 total data instances) Scalar B, nT                 19.551050
SW Plasma Temperature, K      5.430847
SW Proton Density, N/cm^3     5.430847
SW Plasma Speed, km/s         4.417089
Alpha/Prot. ratio            33.960898
Flow pressure                 5.430847
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.000000
dtype: float64
For cycle c21down (2487 total data instances) Scalar B, nT                 17.571371
SW Plasma Temperature, K     38.962606
SW Proton Density, N/cm^3    23.602734
SW Plasma Speed, km/s        23.602734
Alpha/Prot. ratio            50.824286
Flow pressure                23.602734
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.040209
dtype: float64
For cycle c22up (1128 total data instances) Scalar B, nT                 31.914894
SW Plasma Temperature, K     32.712766
SW Proton Density, N/cm^3    32.712766
SW Plasma Speed, km/s        32.712766
Alpha/Prot. ratio            35.283688
Flow pressure                32.712766
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.000000
dtype: float64
For cycle c22down (2466 total data instances) Scalar B, nT                 24.939173
SW Plasma Temperature, K     25.871857
SW Proton Density, N/cm^3    25.871857
SW Plasma Speed, km/s        25.871857
Alpha/Prot. ratio            29.643147
Flow pressure                25.871857
Kp index                      0.000000
R (Sunspot No.)               0.000000
Dst-index, nT                 0.000000
f10.7_index                   0.040552
dtype: float64
For cycle c23up (1919 total data instances) Scalar B, nT                 0.052110
SW Plasma Temperature, K     1.615425
SW Proton Density, N/cm^3    1.615425
SW Plasma Speed, km/s        0.052110
Alpha/Prot. ratio            6.930693
Flow pressure                1.615425
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.000000
dtype: float64
For cycle c23down (2588 total data instances) Scalar B, nT                 0.000000
SW Plasma Temperature, K     0.850077
SW Proton Density, N/cm^3    0.850077
SW Plasma Speed, km/s        0.077280
Alpha/Prot. ratio            8.693972
Flow pressure                0.850077
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.231839
dtype: float64
For cycle c24up (1948 total data instances) Scalar B, nT                 0.000000
SW Plasma Temperature, K     0.000000
SW Proton Density, N/cm^3    0.000000
SW Plasma Speed, km/s        0.000000
Alpha/Prot. ratio            2.053388
Flow pressure                0.000000
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.154004
dtype: float64
For cycle c24down (2071 total data instances) Scalar B, nT                 0.000000
SW Plasma Temperature, K     0.000000
SW Proton Density, N/cm^3    0.144858
SW Plasma Speed, km/s        0.000000
Alpha/Prot. ratio            3.573153
Flow pressure                0.144858
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.048286
dtype: float64
For cycle c25up (1767 total data instances) Scalar B, nT                 2.263724
SW Plasma Temperature, K     0.000000
SW Proton Density, N/cm^3    0.000000
SW Plasma Speed, km/s        0.000000
Alpha/Prot. ratio            0.735710
Flow pressure                1.018676
Kp index                     0.000000
R (Sunspot No.)              0.000000
Dst-index, nT                0.000000
f10.7_index                  0.056593
dtype: float64

In [35]:
for i,j in zip([c20up,c20down,c21up,c21down,c22up,c22down,c23up,c23down,c24up,c24down,c25up],
               ["c20up","c20down","c21up","c21down","c22up","c22down","c23up","c23down","c24up","c24down","c25up"]):
    print("For cycle {} ({} total data instances)".format(j,len(i)),i["f10.7_index"].mean())

For cycle c20up (1248 total data instances) 107.99044176706828
For cycle c20down (2923 total data instances) 116.7753593429158
For cycle c21up (1381 total data instances) 125.17146994931208
For cycle c21down (2487 total data instances) 137.70136765888978
For cycle c22up (1128 total data instances) 137.05744680851063
For cycle c22down (2466 total data instances) 133.06121703853955
For cycle c23up (1919 total data instances) 134.91391349661282
For cycle c23down (2588 total data instances) 107.18113865220762
For cycle c24up (1948 total data instances) 103.33938303341903
For cycle c24down (2071 total data instances) 92.58492753623187
For cycle c25up (1767 total data instances) 121.42083805209514